#Project 1

##1. Part 1
### Importing Libraries and Setting Data Location

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
filename = '/content/drive/MyDrive/Colab Notebooks/Coding Dojo - Data Science Bootcamp/Project 1/Part 1/sales_predictions.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###Reading Data into DataFrame & Displaying head

In [40]:
df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

##Part 2

###1. How many rows and columns?

In [3]:
print(df.shape)
print(f"Number of Rows is: {len(df)}")
print(f"Number of Columns is: {len(df.columns)}")

(8523, 12)
Number of Rows is: 8523
Number of Columns is: 12

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

###2. What are the datatypes of each variable?

In [5]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

###3. Are there duplicates? If so, drop any duplicates

In [6]:
df.duplicated().any()

False

###4. Identify missing values

####Which Columns ?

In [46]:
df.isna().any()

Item_Identifier              False
Item_Weight                   True
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                   True
Outlet_Location_Type         False
Outlet_Type                  False
Item_Outlet_Sales            False
dtype: bool

####How many records ?

In [36]:
print(df.isna().sum())

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [10]:
print(f'Number of records missing Item_Weight is: {len(missingItemWeight)}')
print(f'Number of records missing Outlet_Size is: {len(missingOutletSize)}')

Number of records missing Item_Weight is: 1463
Number of records missing Outlet_Size is: 2410

####Show Records with Null Values

In [39]:
missingItemWeight = df[df['Item_Weight'].isna()]
missingItemWeight

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [9]:
missingOutletSize = df[df['Outlet_Size'].isna()]
missingOutletSize

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3              FDX07       19.200  ...      Grocery Store           732.3800
8              FDH17       16.200  ...  Supermarket Type1          1076.5986
9              FDU28       19.200  ...  Supermarket Type1          4710.5350
25             NCD06       13.000  ...  Supermarket Type1           838.9080
28             FDE51        5.925  ...      Grocery Store           178.4344
...              ...          ...  ...                ...                ...
8502           NCH43        8.420  ...  Supermarket Type1          3020.0688
8508           FDW31       11.350  ...  Supermarket Type1          2587.9646
8509           FDG45        8.100  ...      Grocery Store           424.7804
8514           FDA01       15.000  ...  Supermarket Type1           468.7232
8519           FDS36        8.380  ...  Supermarket Type1           549.2850

[2410 rows x 12 columns]

###5. Decide on how to address the missing values and do it! (explain your choice)

####1. Item_Weight Analysis & Correction

#####Calculating mean weight per item type

In [11]:
meanWeightPerType = df.groupby('Item_Type')['Item_Weight'].median()
#meanWeightPerType = round(meanWeightPerType,2)
meanWeightPerType = pd.DataFrame(meanWeightPerType.rename_axis('Item_Type').reset_index())
meanWeightPerType.columns=['Item_Type','Mean_Weight']

In [12]:
#Validating the results match the count returned by .info() 

nullItemWeightCount = len(df[df['Item_Weight'].isna()])
print(f"\n Number of records with Null Item_Weight: {nullItemWeightCount}")

 Number of records with Null Item_Weight: 1463

#####Calculating total & null counts per item type and percentage missing

In [13]:
countByType = pd.DataFrame(df[['Item_Type']].value_counts().rename_axis('Item_Type').reset_index(name='Count'))

naFilter = df['Item_Weight'].isna()

onlyNa = df[naFilter]
onlyNaCount = pd.DataFrame(onlyNa[['Item_Type']].value_counts().rename_axis('Item_Type').reset_index(name='Count'))
onlyNaCount

itemTypeData = pd.concat([countByType, onlyNaCount['Count'], meanWeightPerType['Mean_Weight']],axis=1)
itemTypeData.columns=['Item_Type','Total_Count','Count_Missing','Mean_Weight']

itemTypeData['Percent_Missing'] = itemTypeData['Count_Missing']/itemTypeData['Total_Count'] * 100
itemTypeData

                Item_Type  Total_Count  ...  Mean_Weight  Percent_Missing
0   Fruits and Vegetables         1232  ...       11.650        17.288961
1             Snack Foods         1200  ...       10.600        17.666667
2               Household          910  ...       10.695        16.593407
3            Frozen Foods          856  ...       12.150        16.121495
4                   Dairy          682  ...       13.350        17.008798
5                  Canned          649  ...       12.850        17.257319
6            Baking Goods          648  ...       13.100        16.975309
7      Health and Hygiene          520  ...       10.100        17.307692
8             Soft Drinks          445  ...       12.150        19.775281
9                    Meat          425  ...       13.150        16.705882
10                 Breads          251  ...       12.350        18.725100
11            Hard Drinks          214  ...       14.500        14.953271
12                 Others          169  ...       11.650        18.343195
13          Starchy Foods          148  ...       13.150        14.189189
14              Breakfast          110  ...       11.800        16.363636
15                Seafood           64  ...       13.175        20.312500

[16 rows x 5 columns]

#####Summary Data for Item_Type Snack Foods

In [14]:
oneTypeSummary = df[df['Item_Type']=='Household']
oneTypeSummary.describe()

       Item_Weight  ...  Item_Outlet_Sales
count   759.000000  ...         910.000000
mean     13.384736  ...        2258.784300
std       4.998845  ...        1692.245757
min       5.030000  ...          33.290000
25%       8.695000  ...         853.389150
50%      13.150000  ...        1981.420800
75%      18.350000  ...        3236.786700
max      21.250000  ...       13086.964800

[8 rows x 5 columns]

####2. Outlet_Size Analysis & Correction

#####Checking if missing value can be infered from other records

In [15]:
print(df['Outlet_Identifier'].value_counts())
outletSizeNaFilter = df['Outlet_Size'].isna()

OUT027    935
OUT013    932
OUT035    930
OUT049    930
OUT046    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [16]:
groupedNa = df[df['Outlet_Size'].isna()]
groupedNa.Outlet_Identifier.value_counts()
groupedNa.Outlet_Type.value_counts()
groupedNa.Outlet_Identifier.value_counts()

OUT045    929
OUT017    926
OUT010    555
Name: Outlet_Identifier, dtype: int64

In [17]:
df.groupby('Outlet_Type')['Outlet_Size'].value_counts()

Outlet_Type        Outlet_Size
Grocery Store      Small           528
Supermarket Type1  Small          1860
                   High            932
                   Medium          930
Supermarket Type2  Medium          928
Supermarket Type3  Medium          935
Name: Outlet_Size, dtype: int64

In [18]:
df.groupby(['Outlet_Location_Type','Outlet_Type'])['Outlet_Identifier'].value_counts()

Outlet_Location_Type  Outlet_Type        Outlet_Identifier
Tier 1                Grocery Store      OUT019               528
                      Supermarket Type1  OUT046               930
                                         OUT049               930
Tier 2                Supermarket Type1  OUT035               930
                                         OUT045               929
                                         OUT017               926
Tier 3                Grocery Store      OUT010               555
                      Supermarket Type1  OUT013               932
                      Supermarket Type2  OUT018               928
                      Supermarket Type3  OUT027               935
Name: Outlet_Identifier, dtype: int64

######Scratch

In [30]:
df.groupby(['Outlet_Identifier','Outlet_Location_Type','Outlet_Type'])['Outlet_Size'].value_counts()

Outlet_Identifier  Outlet_Location_Type  Outlet_Type        Outlet_Size
OUT013             Tier 3                Supermarket Type1  High           932
OUT018             Tier 3                Supermarket Type2  Medium         928
OUT019             Tier 1                Grocery Store      Small          528
OUT027             Tier 3                Supermarket Type3  Medium         935
OUT035             Tier 2                Supermarket Type1  Small          930
OUT046             Tier 1                Supermarket Type1  Small          930
OUT049             Tier 1                Supermarket Type1  Medium         930
Name: Outlet_Size, dtype: int64

In [26]:
df['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [32]:
df.groupby(['Outlet_Location_Type','Outlet_Type'])['Outlet_Identifier'].value_counts()

Outlet_Location_Type  Outlet_Type        Outlet_Identifier
Tier 1                Grocery Store      OUT019               528
                      Supermarket Type1  OUT046               930
                                         OUT049               930
Tier 2                Supermarket Type1  OUT035               930
                                         OUT045               929
                                         OUT017               926
Tier 3                Grocery Store      OUT010               555
                      Supermarket Type1  OUT013               932
                      Supermarket Type2  OUT018               928
                      Supermarket Type3  OUT027               935
Name: Outlet_Identifier, dtype: int64

In [20]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(fill_value='NotDefined',strategy='constant')
#df = imputer.fit_transform(df)
#groupedNa['Outlet_Identifier'].fillna('NotDefined')

###6. Confirm that there are no missing values after addressing them

In [45]:
df.isna().any()

Item_Identifier              False
Item_Weight                   True
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                   True
Outlet_Location_Type         False
Outlet_Type                  False
Item_Outlet_Sales            False
dtype: bool

###7. Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)

####Check and Fix Item_Fat_Conetnets field

In [41]:
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [42]:
df['Item_Fat_Content'].replace({'LF':'Low Fat','low fat':'Low Fat','reg':'Regular'},inplace=True)
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

####Checking Outlet_Location_Type, Outlet_Type, Outlet_Establishment_Year

In [22]:
df['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [24]:
df['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [25]:
df['Outlet_Establishment_Year'].value_counts()

1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64

###8. For any numerical columns, obtain the summary statistics of each (min, max, mean)

In [28]:
df.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  7060.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.643456  ...        1706.499616
min       4.555000  ...          33.290000
25%       8.773750  ...         834.247400
50%      12.600000  ...        1794.331000
75%      16.850000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]